body {
    background-color: #411c1c;
}




  .slots{
      
      background-color: black;
  }
  
  .node{
      display: inline-block;
      
  }

  .dropdown {
    position: relative;
    display: flex;
    padding: 1px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    float:left;
    flex-wrap: wrap;
    
    width: 75%;
    opacity: 1;
    
  }
  .dropdown:hover .dropdown-content {display: flex;}

  .mod-showcase{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .mod-showcase > *{
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .mod-showcase img{
    
    top: 0;
    left: 0;
  }
  
  .energy_counter{
    display: flex;
  }

  .energy_unit{
    width: 50px;
    height: 20px;
    
    border-width:2px;
    border-style:solid;
    border-color:white;
  }
  .energy_unit.empty{
    background-color: transparent;
  }
  .energy_unit.full{
    
    background-color: rgb(255, 255, 255);
  }
  .selected{
    display: flex;
    padding: 5px;
  }
  
/*
  .tooltip {
    position: relative;
    display: inline-block;
    
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 450ms, visibility 450ms;
    white-space: nowrap;
     Position the tooltip text - see examples below! 
    position: absolute;
    z-index: 1;
  }

  .tutorial:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
    
}

.affinity-selector{
    
   
    
    background-color: #df0c0c;
      
}
*/